Package: openssl
Version: 3.1.0
Port-Version: 1
Depends: vcpkg-cmake, vcpkg-cmake-config, vcpkg-cmake-get-vars
Architecture: x64-linux
Multi-Arch: same
Abi: 22e4fab3e73cf70ed6d88ed451b961875d4ff55c80909b8c3bb06804342f603b
Description: OpenSSL is an open source project that provides a robust, commercial-grade, and full-featured toolkit for the Transport Layer Security (TLS) and Secure Sockets Layer (SSL) protocols. It is also a general-purpose cryptography library.
