Package: snappy
Version: 1.1.9
Port-Version: 5
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-linux
Multi-Arch: same
Abi: fea62dfa6579ea2561b2b02235f2d29025cf7735329fa799cf0c7e7f9b308463
Description: A fast compressor/decompressor.
