Package: thrift
Version: 0.16.0
Depends: boost-date-time, boost-locale, boost-range, boost-scope-exit, boost-smart-ptr, libevent, openssl, vcpkg-cmake, vcpkg-cmake-config, zlib
Architecture: x64-linux
Multi-Arch: same
Abi: f3f6aaf0d20446ba23f20e4e25a94e56d5acdc09305836f11a75462318a1f242
Description: Apache Thrift is a software project spanning a variety of programming languages and use cases. Our goal is to make reliable, performant communication and data serialization across languages as efficient and seamless as possible.
